@font-face {
    font-family: JF-Flat;
    src: url('/fonts/JF-Flat-Regular.otf');
}

@font-face {
    font-family: Swissr-Normal;
    src: url('/fonts/Swissr-Normal.ttf');
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'JF-Flat';
    font-family: 'Swissra-Normal';
}
